<div style="text-align:center">
	<p>
		<span id="busuanzi_container_site_pv" >
			<font color="#999999" size="3" >本站访问量</font >
			<u><font color="#ff6600" size="4" ><span id="busuanzi_value_site_pv"></span></font ></u>
			<font color="#999999" size="3" >次</font >
		</span>
			
		<span style="width:100px;"></span>
		<span id="busuanzi_container_site_uv">
			<font color="#999999" size="3" >&nbsp;&nbsp;|&nbsp;&nbsp;您是第</font >
			<u><font color="#ff6600" size="4" > <span id="busuanzi_value_site_uv"></span></font ></u>
			<font color="#999999" size="3" >位.</font >
		</span>
	</p>

	<script type="text/javascript">
		var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write("<u>" + unescape("%3Cspan id='cnzz_stat_icon_1260634021'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260634021%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E") + "</u>");
	</script>
</div>